<body class="skin-blue"> 
<div class="col-xs-12">
<p id="notice"></p>
 <div class="callout callout-warning">
                <h4>CLUBES</h4>

    </div>
       <div class="row">
          <div class="col-xs-12">
       
             
              </div>
              <!-- /.box-body -->
           
            <!-- /.box -->
          </div>
        </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding table-striped">
              <table class="table table-hover">
                <tbody>              
               
<%= content_tag :table, role: :datatable, data: { url: clubs_path(format: :json)} do %>
  <thead>
    <tr class="table-info">
     
                  <th>CLUB</th>
                  <th>REGIÓN</th>
                
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
<% end %>
             </div>
              <!-- /.box-body -->
           
            <!-- /.box -->
          </div>
        </div>
<a class="btn btn-warning" href="http://localhost:3000/championships/6">VOLVER</a>

</div>




    <!-- /.content -->

  

</body>