<h1>Editing Start Male Throwing Disc</h1>

<%= render 'form', start_male_throwing_disc: @start_male_throwing_disc %>

<%= link_to 'Show', @start_male_throwing_disc %> |
<%= link_to 'Back', start_male_throwing_discs_path %>
