<h1>Editing Start Male100mthudrle</h1>

<%= render 'form', start_male100mthudrle: @start_male100mthudrle %>

<%= link_to 'Show', @start_male100mthudrle %> |
<%= link_to 'Back', start_male100mthudrles_path %>
