<h1>Editing Registration Detail2</h1>

<%= render 'form', registration_detail2: @registration_detail2 %>

<%= link_to 'Show', @registration_detail2 %> |
<%= link_to 'Back', registration_detail2s_path %>
