<p id="notice"><%= notice %></p>

<h1>Competitions</h1>

<table>
  <thead>
    <tr>
      <th>Hour</th>
      <th>Sport</th>
      <th>Category</th>
      <th>Sex</th>
      <th>Stage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
 
 <%=stage.fecha%>

  </tbody>
</table>

<br>