<h1>Editing Start Female Triple Jump</h1>

<%= render 'form', start_female_triple_jump: @start_female_triple_jump %>

<%= link_to 'Show', @start_female_triple_jump %> |
<%= link_to 'Back', start_female_triple_jumps_path %>
