<h1>Editing Start Female Discus Throw</h1>

<%= render 'form', start_female_discus_throw: @start_female_discus_throw %>

<%= link_to 'Show', @start_female_discus_throw %> |
<%= link_to 'Back', start_female_discus_throws_path %>
