<h1>Editing Start Male110mtshudrle</h1>

<%= render 'form', start_male110mtshudrle: @start_male110mtshudrle %>

<%= link_to 'Show', @start_male110mtshudrle %> |
<%= link_to 'Back', start_male110mtshudrles_path %>
