<h1>Editing Start Female Javelin</h1>

<%= render 'form', start_female_javelin: @start_female_javelin %>

<%= link_to 'Show', @start_female_javelin %> |
<%= link_to 'Back', start_female_javelins_path %>
