<p id="notice"><%= notice %></p>
<div class="col-md-12">
    <div class="callout callout-danger">
      <h4><strong>Salto- Damas </strong></h4>
     &#09;<h5>Fecha Hora</h5>
     </div>
</div>

<%= content_tag :table, role: :datatable, data: { url: start_female_jumps_path(format: :json)} do %>
  <thead>
    <tr>
      <th>Marca</th>
      <th>Riel</th>
      <th>Número</th>
      <th>Atleta</th>
      <th>A.N.</th>
      <th>Club</th>
      <th>Región</th>
      <th>País</th>
    </tr>
  </thead>

    
 <tbody onmouseover="bestInPlace();">
  </tbody>
<% end %>

 
<script type="application/javascript">
$(document).ready(function() {
jQuery(".best_in_place").best_in_place();
});
function bestInPlace()
{
 jQuery(".best_in_place").best_in_place();
};
 </script>