<h1>Editing Start Female3000mtsobstacle</h1>

<%= render 'form', start_female3000mtsobstacle: @start_female3000mtsobstacle %>

<%= link_to 'Show', @start_female3000mtsobstacle %> |
<%= link_to 'Back', start_female3000mtsobstacles_path %>
