<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @competition_type.name %>
</p>

<%= link_to 'Edit', edit_competition_type_path(@competition_type) %> |
<%= link_to 'Back', competition_types_path %>
