<h1>Editing Start Male Pole Jump</h1>

<%= render 'form', start_male_pole_jump: @start_male_pole_jump %>

<%= link_to 'Show', @start_male_pole_jump %> |
<%= link_to 'Back', start_male_pole_jumps_path %>
