
<div class="col-xs-12">
<p id="notice"></p>
 <div class="callout callout-warning">
                <h4>ATLETAS</h4>

    </div>
       <div class="row">
          <div class="col-xs-12">
       
             
              </div>
              <!-- /.box-body -->
           
            <!-- /.box -->
          </div>
        </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding table-striped">
              <table class="table table-hover">
                <tbody>              
<%= content_tag :table, role: :datatable, data: { url: athletes_path(club_id: params[:club_id],format: :json)} do %>
  <thead>
    <tr class="table-info">
     
                  <th>NOMBRES</th>
                  <th>APELLIDOS</th>
                  <th>FEHA NACIMIENTO</th>
                  <th>CLUB</th>
                  <th>REGIÓN</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
<% end %>



  <script type="application/javascript">

$(document).ready(function() {
jQuery(".best_in_place").best_in_place();
});
function bestInPlace()
{
 jQuery(".best_in_place").best_in_place();
};
 </script>              </div>
              <!-- /.box-body -->
           
            <!-- /.box -->
          </div>
        </div>
        <% if  user_signed_in? && (getAdminPermission( current_user.email) or getRegionPermission( current_user.email))%> 
<br/>
<%= link_to "NUEVO ATLETA", new_athlete_path, class: "btn btn-success" %> |
<%end%>
<%= link_to "VOLVER", :back, class: "btn btn-warning" %>

</div>




    <!-- /.content -->

  

</body>