<p id="notice"><%= notice %></p>
<%= content_tag :table, role: :datatable, data: { url: athletes_path(format: :json)} do %>
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Sexo</th>
      <th>Fecha Nacimiento</th>
      <th>Rut</th>
      <th>Email</th>
      <th>Talla</th>
      <th>Estatura</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
<% end %>

<br>
<%= link_to 'New Athlete', new_athlete_path %>
