<body class="skin-blue"> 
<div class="col-xs-12">
<p id="notice"></p>
 <div class="callout callout-warning">
                <h4>LANZAMIENTO MARTILLO
                FINAL
                VARONES</h4>

    </div>
       <div class="row">
          <div class="col-xs-12">
       
             
              </div>
              <!-- /.box-body -->
           
            <!-- /.box -->
          </div>
        </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding table-striped">
              <table class="table table-hover">
                <tbody><tr class="table-info">
          
                  <th>ATLETA</th>
                  <th>A.N.</th>
                  <th>CLUB</th>
                  <th>REGIÓN</th>
                </tr>
               
      
      <% @athletes.each do |a| %>
<tr>
         <td><b><%= link_to a.names+" "+ a.surnames, a %></b></td>
       <td><b><%=a.birthdate%></b></td>
        <td>CLUB</td>
        <td>10</td>
         <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%>
        <td><%= link_to a, method: :delete, data: { confirm: 'Está seguro?' }, class: "" do %><button type="button" class="btn btn-danger" aria-label="Left Align">X</button></td>
        <% end %> 
          <% end %> 
      </tr>
               

     <%end%>

              </tbody></table>
            </div>
    <%= link_to "NUEVO ATLETA", new_athlete_path, class: "btn btn-success" %>
            <!-- /.box-body -->
 


    
    
<br>


  <script type="application/javascript">

$(document).ready(function() {
jQuery(".best_in_place").best_in_place();
});
function bestInPlace()
{
 jQuery(".best_in_place").best_in_place();
};
 </script>              </div>
              <!-- /.box-body -->
           
            <!-- /.box -->
          </div>
        </div>
<a class="btn btn-warning" href="http://localhost:3000/championships/6">VOLVER</a>

</div>




    <!-- /.content -->

  

</body>