<h1>Editing Malethrowing Disc Head</h1>

<%= render 'form', malethrowing_disc_head: @malethrowing_disc_head %>

<%= link_to 'Show', @malethrowing_disc_head %> |
<%= link_to 'Back', malethrowing_disc_heads_path %>
