<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<%= content_tag :table, role: :datatable, data: { url: clients_path(format: :json)} do %>
  <thead>
    <tr>
      <th>name</th>
      <th>lastname</th>
      <th>account</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
<% end %>

<br>

<%= link_to 'New Client', new_client_path %>


