<h1>Editing Femalethrowing Disc Head</h1>

<%= render 'form', femalethrowing_disc_head: @femalethrowing_disc_head %>

<%= link_to 'Show', @femalethrowing_disc_head %> |
<%= link_to 'Back', femalethrowing_disc_heads_path %>
