<h1>Editing Female3000mtsobstacle</h1>

<%= render 'form', female3000mtsobstacle: @female3000mtsobstacle %>

<%= link_to 'Show', @female3000mtsobstacle %> |
<%= link_to 'Back', female3000mtsobstacles_path %>
