<h1>Editing Discipline Championship</h1>

<%= render 'form', discipline_championship: @discipline_championship %>

<%= link_to 'Show', @discipline_championship %> |
<%= link_to 'Back', discipline_championships_path %>
