<h1>Editing Start Female Pole Jump</h1>

<%= render 'form', start_female_pole_jump: @start_female_pole_jump %>

<%= link_to 'Show', @start_female_pole_jump %> |
<%= link_to 'Back', start_female_pole_jumps_path %>
