<p id="notice"><%= notice %></p>
<div class="col-md-12">
    <div class="callout callout-info">
      <h4><strong>Lnazamiento Martillo - Varones </strong></h4>
     &#09;<h5>Fecha Hora</h5>
     </div>
</div>

<%= content_tag :table, role: :datatable, data: { url: start_male_hammer_throws_path(format: :json)} do %>
  <thead>
    <tr>
     
      <th>Atleta</th>
      <th>A.N.</th>
      <th>Club</th>
      <th>Región</th>
      <th>Mejor Marca</th>
    </tr>
  </thead>
  <tbody onmouseover="bestInPlace();">
  </tbody>
<% end %>

 

 <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%>
<script type="application/javascript">
$(document).ready(function() {
jQuery(".best_in_place").best_in_place();
});
function bestInPlace()
{
 jQuery(".best_in_place").best_in_place();
};
 </script>
<%end%>