<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @referee_level.name %>
</p>

<%= link_to 'Edit', edit_referee_level_path(@referee_level) %> |
<%= link_to 'Back', referee_levels_path %>
