<h1>Editing Female100mtshurdles Head</h1>

<%= render 'form', female100mtshurdles_head: @female100mtshurdles_head %>

<%= link_to 'Show', @female100mtshurdles_head %> |
<%= link_to 'Back', female100mtshurdles_heads_path %>
