<h1>Editing Start Male Discus Throw</h1>

<%= render 'form', start_male_discus_throw: @start_male_discus_throw %>

<%= link_to 'Show', @start_male_discus_throw %> |
<%= link_to 'Back', start_male_discus_throws_path %>
