<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Plataforma| Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  
      <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Federación Atlética</b></a><br/>
    <a href="#"><b>De Chile</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Ingresar usuario y contraseña para iniciar sesión</p>

<%= yield%>

    </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<footer id="footer" class="footer-wrapper" style="background-color:white;">

    <section class="section" id="section_973292651">
    <div class="bg section-bg fill bg-fill">

      
      
      

    </div><!-- .section-bg -->

    <div class="section-content relative">
      

<div class="row" id="row-675745148">

<div class="col md-12"><div class="col-inner">

<div class="slider-wrapper relative " id="slider-663205104">

     <div class="flickity-viewport" style="height: 60px; touch-action: pan-y;"><div class="flickity-slider" style="left: 0px; transform: translateX(44.38%);"><div class="ux-logo has-hover align-middle ux_logo inline-block is-selected" style="max-width: 100% !important; width: 90px !important; position: absolute; left: 0%;" aria-selected="true"><div class="ux-logo-link block image-" title="" target="_self" href="" style="padding: 15px;"><img src="https://www.fedachi.cl/eb19/wp-content/uploads/2018/11/comite.jpg" title="" alt="" class="ux-logo-image block" style="height:50px;"></div></div><div class="ux-logo has-hover align-middle ux_logo inline-block" style="max-width: 100% !important; width: 107.108px !important; position: absolute; left: 11.24%;" aria-selected="false"><div class="ux-logo-link block image-" title="" target="_self" href="" style="padding: 15px;"><img src="https://www.fedachi.cl/eb19/wp-content/uploads/2018/11/min.jpg" title="" alt="" class="ux-logo-image block" style="height:50px;"></div></div><div class="ux-logo has-hover align-middle ux_logo inline-block" style="max-width: 100% !important; width: 122.073px !important; position: absolute; left: 23.01%;" aria-selected="false"><div class="ux-logo-link block image-" title="" target="_self" href="" style="padding: 15px;"><img src="https://www.fedachi.cl/eb19/wp-content/uploads/2018/11/iaaf2.jpg" title="" alt="" class="ux-logo-image block" style="height:50px;"></div></div><div class="ux-logo has-hover align-middle ux_logo inline-block" style="max-width: 100% !important; width: 149.54px !important; position: absolute; left: 36.42%;" aria-selected="false"><div class="ux-logo-link block image-" title="" target="_self" href="" style="padding: 15px;"><img src="https://www.fedachi.cl/eb19/wp-content/uploads/2018/11/lynx1.jpg" title="" alt="" class="ux-logo-image block" style="height:50px;"></div></div><div class="ux-logo has-hover align-middle ux_logo inline-block" style="max-width: 100% !important; width: 88.5366px !important; position: absolute; left: 52.85%;" aria-selected="false"><div class="ux-logo-link block image-" title="" target="_self" href="" style="padding: 15px;"><img src="https://www.fedachi.cl/eb19/wp-content/uploads/2018/11/csa.jpg" title="" alt="" class="ux-logo-image block" style="height:50px;"></div></div><div class="ux-logo has-hover align-middle ux_logo inline-block" style="max-width: 100% !important; width: 149.54px !important; position: absolute; left: -53.13%;" aria-selected="false"><div class="ux-logo-link block image-" title="" target="_self" href="" style="padding: 15px;"><img src="https://www.fedachi.cl/eb19/wp-content/uploads/2018/11/mini.jpg" title="" alt="" class="ux-logo-image block" style="height:50px;"></div></div><div class="ux-logo has-hover align-middle ux_logo inline-block" style="max-width: 100% !important; width: 149.54px !important; position: absolute; left: -36.7%;" aria-selected="false"><div class="ux-logo-link block image-" title="" target="_self" href="" style="padding: 15px;"><img src="https://www.fedachi.cl/eb19/wp-content/uploads/2018/11/leap.jpg" title="" alt="" class="ux-logo-image block" style="height:50px;"></div></div><div class="ux-logo has-hover align-middle ux_logo inline-block" style="max-width: 100% !important; width: 184.444px !important; position: absolute; left: -20.27%;" aria-selected="false"><div class="ux-logo-link block image-" title="" target="_self" href="" style="padding: 15px;"><img src="https://www.fedachi.cl/eb19/wp-content/uploads/2018/11/ResinsaLogo.png" title="" alt="" class="ux-logo-image block" style="height:50px;"></div></div></div></div></div>

     <div class="loading-spin dark large centered" style="display: none;"></div>

     <style scope="scope">
             </style>
</div><!-- .ux-slider-wrapper -->



</div></div>

</div>

    </div><!-- .section-content -->


  </section>
  
<div class="absolute-footer light medium-text-center text-center">
  <div class="container clearfix">

    
    <div class="footer-primary pull-left">
            <div class="copyright-footer">
              <br/>
              <b><span style="font-family: Oswald, sans-serif;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Federación Atlética de Chile &nbsp; <img alt="" height="39" src="/images/simbolos/home.png" width="40"> Santo Toribio 660 - Ñuñoa - Santiago - CHILE&nbsp;&nbsp;&nbsp;&nbsp; <img alt="" height="38" src="/images/simbolos/telefono.png" width="40"> (56-2) 2635 0334 &nbsp; <img alt="" height="38" src="/images/simbolos/correo.png" width="40"> fedachi@fedachi.cl</span></b>
              </div>
          </div><!-- .left -->
  </div><!-- .container -->
</div><!-- .absolute-footer -->

</footer>

<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
</script>
</body>
</html>
